@use 'variable' as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 93.75%;

  @include var.responsive(laptop) {
    font-size: 87.5%;
  }

  @include var.responsive(tablet) {
    font-size: 75%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: var.$regular-weight;
  background-color: var.$bg-main;
  color: var.$color-white;
  line-height: 1.6;
  padding: 2rem;
  box-sizing: border-box;
}
