// ? COLOR MAIN
$bg-main: hsl(233, 47%, 7%);
$bg-card: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

// ? COLOR TEXT
$color-white: hsl(0, 0%, 100%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stat: hsla(0, 0%, 100%, 0.6);

$bold-weight: 700;
$regular-weight: 400;

// ? RESPONSIVE
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 23.4375em) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 64em) {
      @content;
    }
  }
}
